body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 33px;
}
p{
    padding-bottom: 20px;
}
.skip{
    color: orange;
}
.food-website{
    display: flex;
    margin-bottom: 150px;
    margin-top: 100px;
}
.food-diet{
    width: 50%;
    padding-left: 80px;  
}
.food-diet img{
    height: 750px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.food-order{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    padding: 15px 40px;
    border-radius: 30px;
    color: bisque;
    font-size: larger;
    margin-top:10px;  
}
.food-order p{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#back-food{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
footer{
    text-align: center;
    background-color:rgb(10, 10, 10);
    padding-top: 10px;
    margin-top: 100px;
    height: 200px;
}  
#eat{
    color: rgb(245, 229, 209);
    padding-top: 20px;
}

.recipe{
    margin-bottom: 100px;
    text-align: center;
}
.me{
    color: rgb(139, 115, 115);
}
.recipe p{
     padding-left: 20%;
     padding-right:20%;
     color:rgb(94, 88, 88);
     margin-bottom: 20px;
}
.food-recipe{
    display: flex;
   background-color: #f0f0f0;
   justify-content: center;
   flex-wrap: wrap;

}
.food{
   width: 380px;
   overflow: hidden;
   box-shadow: 2px 2px 4px gray;
   border-radius: 10px;
   margin: 20px;
   height: 550px; 
}
.food img{
    height: 50%;
    width: 90%;
    padding:20px   
}

.recipe-item{
    text-align: center;
    padding: 10px;
    margin-bottom: 30%;
}
.recipe-item p{
    color:rgb(78, 68, 68);
}
.social-site{
   background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px gray;
    margin-left: 10%;
    margin-right: 10%;
}
.social{
    width: 300px;
    background-color:#f0f0f0 ;    
}