body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(242, 236, 236);
    margin: 0;
  }
h1{
    font-size: 70px;
}
h3{
    font-size: 30px;
}
h2{
    color: rgb(115, 108, 99);
}
.skip{
    color: orange;
}
.food-website{
    display: flex;
    margin-bottom: 150px;
    margin-top: 100px;
}
.food-diet{
    width: 50%;
    padding-left: 80px;  
}
.food-diet img{
    height: 750px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.food-order{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    padding: 15px 40px;
    border-radius: 30px;
    color: bisque;
    font-size: larger;  
}
p{
    padding-bottom: 20px;
}
#back-food{
    background-image: url(images/shapes/Frame\ 57.jpg);
}
.recipe{
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
.all-item{
    
}
.three-recipe{
    display: inline-flex;
    padding: 0;
    width: 33%;
    text-align: left;
    box-shadow: 0px 0px 10px 10px gray;
}
.three-recipe img{
    height: 300px;
    width: 300px;
}
.social-site{
    display:inline-flex;
    
}
footer{
    text-align: center;
    background-color:rgb(10, 10, 10);
    padding-top: 10px;
    margin-top: 100px;
    height: 200px;
}  
#eat{
    color: rgb(245, 229, 209);
    padding-top: 20px;
}